<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gujarex.towntour">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TownTour"
        tools:targetApi="31">
        <activity
            android:name=".Common.LoginSignup.ForgetPasswordsuccessMessage"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.SignUp3rdClass"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.SignUp2ndClass"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.SignUp"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.Login"
            android:exported="false" />
        <activity
            android:name=".Common.LoginSignup.RetailerStartUpScreen"
            android:exported="false" />
        <activity
            android:name=".User.Allcategories"
            android:exported="false" />
        <activity
            android:name=".Common.Onboarding"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>